@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282c34;
  animation: colorFade 4s infinite alternate;
}
@keyframes colorFade {
  0% {
    background-color: #282c34; /* Start color */
  }
  100% {
    background-color: #1c3366; /* Intermediate color */
  }
}

button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
  background-color: #00eeff; /* Change to green */
  transform: scale(1.1); /* Slightly increase size */
}

.min-h-wfa {
  min-height: -webkit-fill-available;
}

.border-none-on-focus {
  border: none;
  outline: none;
  /*Removes all outlines*/
  :focus {
    outline: 0 !important;
  }
}

.send-icon {
  transform: translateX(7.5px);
  height: 25px;
  width: 25px;
}

.mh-80vh {
  min-height: 80vh;
}

h1 {
  font-size: 2.5rem;
  color: #97d2fd;
  font-weight: 600;
}
